<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Home</h3>
    <a href="/login">login</a>
    <a href="/signup">signup</a>
    {% if request.user.is_authenticated %}
    <h3>Current User: {{ request.user.name }}</h3>
    <a href="/logout">logout</a>
    {% endif %}
    {% if users %}
        {% for user in users %}
        <p>{{ user.name }}</p>
        {% endfor %}
    {% endif %}
</body>
</html>